.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.about {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-content: center;
}

.about li {
  padding-bottom: 0.5rem;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  background: darkgray;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0.5rem;
}

.navbar li {
  text-decoration: none;
  padding: 1rem;
}

